<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Atomes et boules de molécules</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <br>
  <div class="container">
    <h2>Et pouf !</h2>
    <br>
          <div class="row row-grid text-center align-items-center">
            <div class="col-lg-5 order-lg-2">
              <div class=" pr-lg-4">
                <h5 class="h3">Une capsule magique </h5>
                <p class="lead mt-4 mb-5">Ces petites capsules vont feront ouvrir de grandes portes. Muni de ces objets peu commun, vous pourrez rentrer dans les evenements speciaux organisés par nos soins. Y'a comme un air de saiyen...</p>
                <a href="#" class="btn btn-outline-primary">Reserve les maintenant !</a>
              </div>
            </div>
            <div class="col-lg-6 order-lg-1">
              <img alt="Image placeholder" src="https://picsum.photos/400" class="img-fluid img-center">
            </div>
          </div>

          <br>


          <div class="row row-grid text-center align-items-center">
            <div class="col-lg-6 order-lg-2">
              <div class=" pr-lg-4">
                <img alt="Image placeholder" src="https://picsum.photos/400" class="img-fluid img-center">
              </div>
            </div>
            <div class="col-lg-5 order-lg-1">
              <h5 class="h3">Une capsule magique </h5>
              <p class="lead mt-4 mb-5">Ces petites capsules vont feront ouvrir de grandes portes. Muni de ces objets peu commun, vous pourrez rentrer dans les evenements speciaux organisés par nos soins. Y'a comme un air de saiyen...</p>
              <a href="#" class="btn btn-outline-secondary">Reserve les maintenant !</a>
            </div>
          </div>

      <br>

  </div>

<!-- Navigation dans les views-->

<br><br><br>

<center><a href="index.html" type="button" class="btn btn-outline-danger" >Retour</a>

        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-danger">En voir plus</button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="navbar.html">Navbar</a>
              <a class="dropdown-item" href="footer.html">Footer</a>
              <a class="dropdown-item" href="signin.html">Formulaire SignIn</a>
              <a class="dropdown-item" href="signup.html">Formulaire SignUp</a>
              <a class="dropdown-item" href="password.html">Mot de passe oublié</a>
              <a class="dropdown-item" href="passwordchange.html">Editer son mot de passe</a>
              <a class="dropdown-item" href="banners.html">Jumbotron(s)</a>
              <a class="dropdown-item" href="cards.html">Les cartes</a>
              <a class="dropdown-item" href="comments.html">Commentaires</a>
              <a class="dropdown-item" href="elementpres.html">Présentation d'un élément</a>
              <a class="dropdown-item" href="ressourcepres.html">Présentation d'une ressource</a>
            </div>
          </div>
        </div>

</center>

<!-- Navigation dans les views-->




 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
