<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>Atomes et boules de molécules</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>
      <center><img src="../images/icons8-lune-et-étoiles-50.png" alt="" width="50" height="50"></center>
      <br>
      <h1 class="h3 mb-3 font-weight-normal text-center">Connecte-toi</h1>
      <br><br>
      <form>
        <fieldset>

          <div class="form-group">
            <label for="exampleInputEmail1">Ton petit mail</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Juste ici">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Ton mot de passe</label>
            <input type="password" class="form-control" placeholder="Juste là">
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="RememberMe" checked="">
              <label class="custom-control-label" for="RememberMe">Se souvenir de moi</label>
          </div>

          </fieldset>
          <button type="submit" class="btn btn-lg btn-primary btn-block">Et hop !</button>
        </fieldset>
      </form>
      <br>
      <a href="password.html">Mot de passe oublié ?</a></p>
      <p>Pas encore de compte ? <a href="signup.html">Par ici ! </a></p>



    </div>
  </div>
</div>

<!-- Navigation dans les views-->

<br><br><br>

<br><br><br>

<center><a href="index.html" type="button" class="btn btn-outline-danger" >Retour</a>

        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <button type="button" class="btn btn-danger">En voir plus</button>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="navbar.html">Navbar</a>
              <a class="dropdown-item" href="footer.html">Footer</a>
              <a class="dropdown-item" href="signin.html">Formulaire SignIn</a>
              <a class="dropdown-item" href="signup.html">Formulaire SignUp</a>
              <a class="dropdown-item" href="password.html">Mot de passe oublié</a>
              <a class="dropdown-item" href="passwordchange.html">Editer son mot de passe</a>
              <a class="dropdown-item" href="banners.html">Jumbotron(s)</a>
              <a class="dropdown-item" href="cards.html">Les cartes</a>
              <a class="dropdown-item" href="comments.html">Commentaires</a>
              <a class="dropdown-item" href="elementpres.html">Présentation d'un élément</a>
              <a class="dropdown-item" href="ressourcepres.html">Présentation d'une ressource</a>
            </div>
          </div>
        </div>

</center>

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
